body {
    background: #000;
    color: #FFF;
    font-family: sans-serif;
    overflow: hidden;
}

h1 {
    width: 50%;
    text-align: center;
    font-family: 'Damion';
    font-weight: lighter;
}

small {
  font-size: 10px;
}

#head, #mid, #foot {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

#mid {
  margin-top: 1em;
}

#foot {
    font-size: 10px;
    color: #AAA;
    position: absolute;
    bottom: 3em;
    width: 100%;
    text-align: center;
}


a { color: red; }

a:visited { color: red; }


/*
    Due to plugins like Imagus, this is to prevent the hoverzoom feature
    from being used unintentionally
*/
img { pointer-events: none;}

@keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
